
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;

  color: #171A1C;
  background-color: #ECE8E3;
}

.social-buttons svg {
  width: 4rem;
  height: 4rem;
}

.photo-hover {
  content: url("/marc-vila_ai.png");
  width: 400px;
  height: 400px;
}

.photo-hover:hover {
  content: url("/marc-vila.png");
}
