
body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 2rem;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  color: #171A1C;
  background-color: #ECE8E3;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.social-buttons svg {
  width: 4rem;
  height: 4rem;
  color: #171A1C;
}

.photo img {
  width: 400px;
  height: 400px;
}

.photo-hover {
  content: url("/marc-vila_ai.png");
  width: 400px;
  height: 400px;
}

.photo-hover:hover {
  content: url("/marc-vila.png");
  cursor: grab;
}
